.page-four{
    padding: 48px 24px;
}
.subtitle-pagefour{
    color: var(--brand-color-primary);
}
.colorgray{
    color: var(--text-color-secondary);
    margin-bottom: 32px;
}
.card-download{
    padding: 48px 24px;
    background-color: var(--surface-color);
    border: 2px solid var(--stroke-color);
    border-radius: 24px;
}
.margin-block{
    margin-block: 8px;
}
.app-story{
    height: 56px;
    width: 178px;
    background-image: url(../assets/icons/App-store-button.png);
    background-size: cover;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
.play-story{
    height: 56px;
    width: 178px;
    background-image: url(../assets/icons/Play-Store-button.png);
    background-size: cover;
    border: none;
    border-radius: 8px;
}
.buttons-download-container{
    margin-bottom: 240px;
}
.img-absolute{
    display:flex;
    position: absolute;
    height: 341px;
    transform: translateX(120px) translateY(-345px)
}