

.card-model{
    background-color: aqua;
    width: 327px;
    padding: 24px;
    border: 2px solid var(--stroke-color);
    border-radius: 24px;
    background: var(--surface-color);
    margin-bottom: 24px;
}
.cards-container{
    margin-top: 48px;
}
.icon-size{
    height: 24px;
}
.margin-bottom{
    margin-bottom: 8px;
}
.cards-line1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-line2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width>1000px) {
    .cards-container{
        flex-direction: column;
        padding: 80px 32px;
        display: flex;
        align-items: center;
    }
    .icon-size{
        height: 32px;
    }
    .margin-bottom{
        font-size: 32px;
    }
    .card-model{
        height: 400px;
    }
    .card2{
        display: flex;
        background-image: url(../assets/icons/Tela\ 2.png);
        background-position-x: 300px;
        background-position-y: -125px;
        background-repeat: no-repeat;
        background-size: 240px;
        width: 552px;
        padding: 40px 32px;
    }
    .position-container{
        width: 256px;
    }
    .cards-line1{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .cards-line2{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .card4{
        width: 606px;
        background-image: url(../assets/icons/Tela\ 1.png);
        background-size: 240px;
        background-repeat: no-repeat;
        background-position-y: -120px;
        background-position-x: 30px;
    }
    .position-card4{
        width: 256px;
        transform: translateX(270px);
    }

    .card5{
        width: 606px;
        background-image: url(../assets/icons/Tela\ 3.png);
        background-size: 240px;
        background-repeat: no-repeat;
        background-position-y: 60px;
        background-position-x: 320px;
    }
}