.page-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-bg{
    background-image: url(../assets/icons/ilustration_backgroung.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 370px;
}
.container1{
    padding: 16px 24px;
}
.img-page-one{
    width: 206px;
    margin-block: 60px 16px;
}
.text-h1-page-one{
    display: flex;
    text-align: center;
    margin-bottom: 8px;
}
.text-p-page-one{
    color: var(--text-color-secondary);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}
.button-flex-pageone{
    gap: 16px;
}

.btn-type-secondary{
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid var(--text-color-primary);
    background-color: transparent;
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 500;
}
.btn-type-primary{
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid var(--text-color-primary);
}
.celulares-container{
    display: flex;
    justify-content: center;
}
.img-celulares{
    width: 312px;
    margin-top: 20px;
}
.p-color{
    color: var(--brand-color-primary) ;
    font-size: 14px;
    font-family: 'Inter';
}
.description{
    color: var(--text-color-secondary);
    margin-top: 8px;
    font-size: 16px;
}


@media (width>1000px) {
    .container-bg{
        background-size: 5000px;
        background-position-y: 10px;
    }
    .img-page-one{
        width: 412px;
        margin-block: 80px 24px;
    }
    .btn-type-secondary{
        padding: 16px 32px;
        font-size: 18px;
    }
    .text-p-page-one{
        font-size: 35px;
    }
    .pageone-contents{
        display: flex;
        align-items: center;
        margin-top: 150px;
    }
    .img-celulares{
        width:  544px;
    }
    .page-one-rodape{
        margin-top: 80px;
    }
}