.page-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-page-one{
    width: 206px;
    margin-block: 60px 16px;
}
.text-h1-page-one{
    display: flex;
    text-align: center;
    margin-bottom: 8px;
}